force-app/main/default/flows/InboundService_DynamoDB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>increment_retries_2</name>
        <label>increment retries 2</label>
        <locationX>605</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>RetriesCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Retires</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Retires</name>
        <label>Check Retires</label>
        <locationX>605</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Create_DLQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_three</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetriesCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inbound_record</targetReference>
            </connector>
            <label>Less than three</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Code_Check</name>
        <label>Check Order</label>
        <locationX>407</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>increment_retries_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Order Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>InboundService DynamoDB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InboundService DynamoDB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create dlq record</description>
        <name>Create_DLQ</name>
        <label>Create DLQ</label>
        <locationX>737</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_Inbound_record2</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Format__c</field>
            <value>
                <elementReference>$Record.DataFormat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectAPIName__c</field>
            <value>
                <elementReference>$Record.ObjectAPIName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>$Record.Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetSystem__c</field>
            <value>
                <elementReference>$Record.SourceSystem__c</elementReference>
            </value>
        </inputAssignments>
        <object>DeadLetterQueue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOrder</name>
        <label>Get Order</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Code_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inbound_Message</name>
        <label>Update Inbound Message</label>
        <locationX>209</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inbound_record</name>
        <label>Update Inbound record</label>
        <locationX>473</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Retries__c</field>
            <value>
                <elementReference>RetriesCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inbound_record2</name>
        <label>Update Inbound record</label>
        <locationX>737</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>209</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Inbound_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOrder.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERPOrderId__c</field>
            <value>
                <elementReference>$Record.ExternalId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Order__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceSystem__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>InboundQueue__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetOrder</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RetriesCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Retries__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>status_pending</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
</Flow>
