force-app/main/default/flows/OutboundService_DynamoDB.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dynamo_Put_Reqest</name>
        <label>Dynamo Put Reqest</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <actionName>DynamoService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Status_Code_Check</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Increment_Retries</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalId</name>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>$Record.SequenceNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderdata</name>
            <value>
                <elementReference>$Record.Payload__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <elementReference>status_pending</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DynamoService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Increment_Retries</name>
        <label>Increment Retries</label>
        <locationX>1001</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>RetriesCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Failed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_retries_2</name>
        <label>increment retries 2</label>
        <locationX>605</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>RetriesCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Retires</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Retires</name>
        <label>Check Retires</label>
        <locationX>605</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Create_DLQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Less_than_three</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetriesCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_outbound_record</targetReference>
            </connector>
            <label>Less than three</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Code_Check</name>
        <label>Status Code Check</label>
        <locationX>407</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>increment_retries_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dynamo_Put_Reqest.statusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dynamo_Put_Reqest.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Outbound_Message</targetReference>
            </connector>
            <label>Status 200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>OutboundService DynamoDB {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OutboundService DynamoDB</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create dlq record</description>
        <name>Create_DLQ</name>
        <label>Create DLQ</label>
        <locationX>737</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_outbound_record2</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Format__c</field>
            <value>
                <elementReference>$Record.DataFormat__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectAPIName__c</field>
            <value>
                <elementReference>$Record.ObjectAPIName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payload__c</field>
            <value>
                <elementReference>$Record.Payload__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetSystem__c</field>
            <value>
                <elementReference>$Record.TargetSystem__c</elementReference>
            </value>
        </inputAssignments>
        <object>DeadLetterQueue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Insert_Failed</name>
        <label>Insert Failed</label>
        <locationX>1001</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Retries__c</field>
            <value>
                <elementReference>RetriesCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Outbound_Message</name>
        <label>Update Outbound Message</label>
        <locationX>209</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_outbound_record</name>
        <label>Update outbound record</label>
        <locationX>473</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Retries__c</field>
            <value>
                <elementReference>RetriesCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_outbound_record2</name>
        <label>Update outbound record</label>
        <locationX>737</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TargetSystem__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AWS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>OutboundQueue__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Dynamo_Put_Reqest</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RetriesCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Retries__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>status_pending</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Pending</stringValue>
        </value>
    </variables>
</Flow>
